
@{
    ViewBag.Title = "Courses";
}

<h2> Here is Your Desired Courses</h2>
<table class="table table-bordered ">
    <thead class="table-dark">
        <td>Course Name</td>
        <td> Course Credit</td>
    </thead>
    <tr>
        <td>
            <a href="">Advanced Web Tech.</a>
        </td>
        <td>
           3
        </td>
    </tr>
    <tr>
        <td>
            <a href="">Advanced Database</a>
        </td>
        <td>
            3
        </td>
    </tr>
    <tr>
        <td>
            <a href="">Advnaced .Net</a>
        </td>
        <td>
            3
        </td>
    </tr>
    <tr>
        <td>
            <a href="">Digital Marketing</a>
        </td>
        <td>
            3
        </td>
    </tr>

</table>

